################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/001_read_show/.vs/001_read_show/v14
/001_read_show/read_show/x64/Debug
/002_wri_cvt/.vs/002_wri_cvt/v14
/002_wri_cvt/wri_cvt/x64/Debug
/conf/.vs/conf/v14
/conf/conf/x64/Debug
/003_mat_numpy/.vs/003_mat_numpy/v14
/003_mat_numpy/mat_numpy/x64/Debug
/003_mat_numpy/x64/Debug
/004_rea_wri_pix/rea_wri_pix/x64/Debug
/004_rea_wri_pix/x64/Debug
*.db
*.opendb
/005_pix_arith_opera/.vs/pix_arith_opera/v14
/006_Look_Up_Table/.vs/006_Look_Up_Table/v14
/007_bitwise_opera/.vs/007_bitwise_opera/v14
/010_Pixel_Value_Statistics/010_Pixel_Value_Statistics/x64/Debug
/010_Pixel_Value_Statistics/.vs/010_Pixel_Value_Statistics/v14
/010_Pixel_Value_Statistics/x64/Debug
/011_norm/.vs/011_norm/v14
/011_norm/011_norm/x64/Debug
/011_norm/x64/Debug
*.suo
/012_Vedio_Read_Wri/012_Vedio_Read_Wri/x64/Debug
*.exe
*.ilk
*.pdb
/013_Image_Flip/013_Image_Flip/x64/Debug
/015_Draw_Geometry/015_Draw_Geometry/x64/Debug
*.lastbuildstate
*.tlog
*.log
*.obj
*.idb
