################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/001_read_show/.vs/001_read_show/v14
/001_read_show/read_show/x64/Debug
/002_wri_cvt/.vs/002_wri_cvt/v14
/002_wri_cvt/wri_cvt/x64/Debug
/conf/.vs/conf/v14
/conf/conf/x64/Debug
