################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/001_read_show/.vs/001_read_show/v14
/001_read_show/read_show/x64/Debug
/002_wri_cvt/.vs/002_wri_cvt/v14
/002_wri_cvt/wri_cvt/x64/Debug
/conf/.vs/conf/v14
/conf/conf/x64/Debug
/003_mat_numpy/.vs/003_mat_numpy/v14
/003_mat_numpy/mat_numpy/x64/Debug
/003_mat_numpy/x64/Debug
/004_rea_wri_pix/rea_wri_pix/x64/Debug
/004_rea_wri_pix/x64/Debug
*.db
*.opendb
/005_pix_arith_opera/.vs/pix_arith_opera/v14
/006_Look_Up_Table/.vs/006_Look_Up_Table/v14
